body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
}

h1 {
  font-family: "Sansita Swashed", SansitaSwashed;
  color: midnightblue;
}

h2 {
  color:midnightblue;
   font-family: "Sansita Swashed", Sansita-Swashed;
}

h3 {
  font-family: "Sansita Swashed", Sansita Swashed;
  color:midnightblue;
}
.logo {
  text-align: left;
  width: 48vw;
}

.main {
  display: flex;
  justify=content: space-around;
  height: 70vh;
}
.left, .right {
  width: 46vw;
}

img{
  height: 20vh;
  width: auto;
  margin: 3vh 0;
}

a, a:visited {
  color: DodgerBlue;
}
